<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>FullHD - GERAR TESTE</title>
    
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/images/logo.png" />
    <!-- Font Awesome icons (free version)-->

    <!-- icone whatsapp -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">    

    <script
      src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />

  </head>
  <body id="page-top">
    <!-- botao flutuante -->
    <a href="https://api.whatsapp.com/send?phone=5551986165032&text=Ol%C3%A1%20equipe%20FullHD%2C%20desejo%20mais%20informa%C3%B5es%20sobre%20os%20canais." style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
      z-index:1000;" target="_blank">
    <i style="font-size: 130%;" class="bi bi-whatsapp"></i>
    </a>

    <!-- Masthead-->
    <header class="masthead bg-secondary text-white text-center">
      <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/images/logo.png" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">FULL HD</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">
          Selecione o aplicativo que deseja realizar a instalação, de acordo com o seu dispositivo.
        </p>
      </div>
    </header>

    <!-- Portfolio Android-->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
       
        <br>
        <h6 class="page-section-heading text-center text-uppercase text-secondary mb-0">
          CELULAR E TV BOX
        </h6>
        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Android Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalBEES"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/BeesTV.png"
                style="width: 100%;"
              />
            </div>
          </div>
          <!-- Portfolio Item 2-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalCLUBLITE"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/ClubLite.png"
                style="width: 100%; height: 100%; "
              />
            </div>
          </div>
          <!-- Portfolio Item 3-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalXCIPTV"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/XCIPTV.png"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio Smart Tv Lg-->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          SMART TV LG
        </h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSSIPTV"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/SS-IPTV.png"
                alt="..."
                style="width: 100%;"
              />
            </div>
          </div>
          <!-- Portfolio Item 2-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSMARTERS"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/SMARTERS.jpg"
                alt="..."
                style="width: 100%;"
              />
            </div>
          </div>
          <!-- Portfolio Item 3-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSTB"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/STB.png"
                alt="..."
                style="width: 100%; height: 150%;"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio Smart Tv Philco-->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          SMART TV PHILCO
        </h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSSIPTV"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/SS-IPTV.png"
                alt="..."
                style="width: 100%;"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio Smart Tv Philips-->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          SMART TV PHILIPS
        </h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 2-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSMARTERS"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/SMARTERS.jpg"
                alt="..."
                style="width: 100%;"
              />
            </div>
          </div>
          <!-- Portfolio Item 3-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSTB"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/STB.png"
                alt="..."
                style="width: 100%; height: 150%;"
              />
            </div>
          </div>
      </div>
    </section>
    <!-- Portfolio Smart Tv Samsung-->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          SMART TV SAMSUNG
        </h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSSIPTV"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/SS-IPTV.png"
                alt="..."
                style="width: 100%;"
              />
            </div>
          </div>
          <!-- Portfolio Item 2-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSTB"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/STB.png"
                alt="..."
              />
            </div>
          </div>
          <!-- Portfolio Item 3-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSMARTERS"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/SMARTERS.jpg"
                alt="..."
                style="width: 100%;"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio Smart Tv Aoc-->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          SMART TV AOC
        </h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSSIPTV"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/SS-IPTV.png"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio Smart Tv Panasonic-->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          SMART TV PANASONIC
        </h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSSIPTV"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/SS-IPTV.png"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio Smart Tv TCL-->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          SMART TV TCL
        </h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalXCIPTV"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/XCIPTV.png"
                alt="..."
              />
            </div>
          </div>
          <!-- Portfolio Item 2-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSSIPTV"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/SS-IPTV.png"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio Smart Tv Sony-->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          SMART TV SONY
        </h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSSIPTV"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/SS-IPTV.png"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Portfolio Smart Tv Sony-->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          SMART TV TOSHIBA
        </h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSSIPTV"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/SS-IPTV.png"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio Smart Tv Sony-->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          SMART TV MULTILASER
        </h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSSIPTV"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/SS-IPTV.png"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio Pc -->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          PC
        </h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalCLUBLITE"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/ClubLite.png"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </section>
     </section>
    <!-- Portfolio Pc -->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          IOS
        </h2>

        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
          <!-- Portfolio Item 1-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalGSE"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/GSE.png"
                alt="..."
              />
            </div>
          </div>
          <!-- Portfolio Item 2-->
          <div class="col-md-6 col-lg-4 mb-5">
            <div
              class="portfolio-item mx-auto"
              data-bs-toggle="modal"
              data-bs-target="#portfolioModalSMARTERS"
            >
              <div
                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
              >
                <div
                  class="portfolio-item-caption-content text-center text-white"
                >
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <img
                class="img-fluid"
                src="assets/images/app/SMARTERS.jpg"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section-->
    <footer class="page-section bg-primary text-white mb-0" id="about">
      <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">
          SOBRE NÓS
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
          <div class="col-lg-4 ms-auto">
            <p class="lead">
              Somos a equipe FullHD TV, aqui você encontra um diferencial no
              atendimento ao cliente acontecendo de segunda a segunda e a
              entrega dos melhores canais, filmes, séries e novelas para sua
              família.
            </p>
          </div>
          <div class="col-lg-4 me-auto">
            <p class="lead">
              Você pode não acreditar, mas é verdade! Peça seu teste grátis.
            </p>
          </div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
          <a
            class="btn btn-xl btn-outline-light"
            href="https://api.whatsapp.com/send?phone=5551986165032&text=Ol%C3%A1%20equipe%20FullHD%2C%20desejo%20mais%20informa%C3%B5es%20sobre%20os%20canais."
          >
            <i class="bi bi-whatsapp">
            </i>
             Chame no whatsapp!
          </a>
        </div>
      </div>
    </footer>
    <!-- Tutorial BeesTV -->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModalBEES"
      tabindex="-1"
      aria-labelledby="portfolioModalBEES"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button
              class="btn-close"
              type="button"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center pb-5">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Portfolio Modal - Title-->
                  <h2
                    class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  >
                    BeesTV P2P
                  </h2>
                  <!-- Icon Divider-->
                  <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                  </div>
                  <!-- Portfolio Modal - Image-->
                  <img
                    class="img-fluid rounded mb-5"
                    src="assets/images/app/BeesTV.png"
                    alt="..."
                  />
                  <h6>Tutorial de instalação</h6>
                  <!-- Portfolio Modal - Text-->
                  <p class="mb-4">
                    1- Entra no seu navegador (Google)
                    <br>
                    2- Pesquisa no campo de cima do navegador esse link: <a href="http://linktv.site/bp2pv6">http://linktv.site/bp2pv6</a>
                    
                    <br>
                    3- Vai começar a instalar automaticamente o app (se precisar dê permissão)
                    <br>
                    4- Pronto, só pedir seu usuário e senha
                  </p>
                  <button class="btn btn-light" data-bs-dismiss="modal" >
                      <a
                        class="btn btn-xl btn-outline-success"
                        href="https://api.whatsapp.com/send?phone=5551986165032&text=Ol%C3%A1%20equipe%20FullHD%2C%20desejo%20realizar%20um%20teste%20gr%C3%A1tis%20de%206%20horas%20usando%20o%20APP%20BeesTV%20P2P."
                      >
                        <i class="bi bi-whatsapp">
                        </i>
                         Chame no whatsapp!
                      </a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio Modal 2-->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModalCLUBLITE"
      tabindex="-1"
      aria-labelledby="portfolioModalCLUBLITE"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button
              class="btn-close"
              type="button"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center pb-5">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Portfolio Modal - Title-->
                  <h2
                    class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  >
                    CLUB LITE
                  </h2>
                  <!-- Icon Divider-->
                  <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                  </div>
                  <!-- Portfolio Modal - Image-->
                  <img
                    class="img-fluid rounded mb-5"
                    src="assets/images/app/ClubLite.png"
                    alt="..."
                  />
                  <h6>Tutorial de instalação</h6>
                  <!-- Portfolio Modal - Text-->
                  <p class="mb-4">
                    1- Entra no seu navegador (Google)
                    <br>
                    2- Pesquisa no campo de cima do navegador esse link: <a href="https://a5.vc/clite">https://a5.vc/clite</a>
                    <br>
                    3- Vai começar a instalar automaticamente o app (se precisar dê permissão)
                    <br>
                    4- Pronto, só pedir seu usuário e senha
                  </p>
                  <button class="btn btn-light" data-bs-dismiss="modal" >
                      <a
                        class="btn btn-xl btn-outline-success"
                        href="https://api.whatsapp.com/send?phone=5551986165032&text=Ol%C3%A1%20equipe%20FullHD%2C%20desejo%20realizar%20um%20teste%20gr%C3%A1tis%20de%206%20horas%20usando%20o%20APP%20CLUB."
                      >
                        <i class="bi bi-whatsapp">
                        </i>
                         Chame no whatsapp!
                      </a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio Modal 3-->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModalXCIPTV"
      tabindex="-1"
      aria-labelledby="c"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button
              class="btn-close"
              type="button"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center pb-5">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Portfolio Modal - Title-->
                  <h2
                    class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  >
                    OTR XCIPTV PLAYER
                  </h2>
                  <!-- Icon Divider-->
                  <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                  </div>
                  <!-- Portfolio Modal - Image-->
                  <img
                    class="img-fluid rounded mb-5"
                    src="assets/images/app/XCIPTV.png"
                    alt="..."
                  />
                  <h6>Tutorial de instalação</h6>
                  <!-- Portfolio Modal - Text-->
                  <p class="mb-4">
                    1- Entra na Play Store
                    <br>
                    2- Pesquisa pelo APP XCIPTV
                    <br>
                    3- Comece a instalação
                    <br>
                    4- Pronto, só pedir seu usuário e senha
                  </p>
                  <button class="btn btn-light" data-bs-dismiss="modal" >
                      <a
                        class="btn btn-xl btn-outline-success"
                        href="https://api.whatsapp.com/send?phone=5551986165032&text=Ol%C3%A1%20equipe%20FullHD%2C%20desejo%20realizar%20um%20teste%20gr%C3%A1tis%20de%206%20horas%20usando%20o%20APP%20XCIPTV."
                      >
                        <i class="bi bi-whatsapp">
                        </i>
                         Chame no whatsapp!
                      </a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio Modal 4-->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModalSSIPTV"
      tabindex="-1"
      aria-labelledby="portfolioModalSSIPTV"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button
              class="btn-close"
              type="button"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center pb-5">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Portfolio Modal - Title-->
                  <h2
                    class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  >
                    SSIPTV
                  </h2>
                  <!-- Icon Divider-->
                  <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                  </div>
                  <!-- Portfolio Modal - Image-->
                  <img
                    class="img-fluid rounded mb-5"
                    src="assets/images/app/SS-IPTV.png"
                    alt="..."
                  />
                  <!-- Portfolio Modal - Text-->
                  <h6>Tutorial de instalação</h6>
                  <!-- Portfolio Modal - Text-->
                  <p class="mb-4">
                    1- Entre na loja de aplicativos
                    <br>
                    2- Pesquisa pelo APP SSIPTV
                    <br>
                    3- Comece a instalação
                    <br>
                    4- Pronto, só pedir para adicionar a lista em seu APP.
                  </p>
                  <button class="btn btn-light" data-bs-dismiss="modal" >
                    <a
                      class="btn btn-xl btn-outline-success"
                      href="https://api.whatsapp.com/send?phone=5551986165032&text=Ol%C3%A1%20equipe%20FullHD%2C%20desejo%20realizar%20um%20teste%20gr%C3%A1tis%20de%206%20horas%20usando%20o%20APP%20SSIPTV."
                    >
                      <i class="bi bi-whatsapp">
                      </i>
                       Chame no whatsapp!
                    </a>
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Portfolio Modal 5-->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModalSMARTERS"
      tabindex="-1"
      aria-labelledby="portfolioModalSMARTERS"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button
              class="btn-close"
              type="button"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center pb-5">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Portfolio Modal - Title-->
                  <h2
                    class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  >
                    IPTV SMARTERS
                  </h2>
                  <!-- Icon Divider-->
                  <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                  </div>
                  <!-- Portfolio Modal - Image-->
                  <img
                    class="img-fluid rounded mb-5"
                    src="assets/images/app/SMARTERS.jpg"
                    alt="..."
                  />
                  <h6>Tutorial de instalação</h6>
                  <!-- Portfolio Modal - Text-->
                  <p class="mb-4">
                    1- Entre na loja de aplicativos
                    <br>
                    2- Pesquisa pelo APP IPTV SMARTERS
                    <br>
                    3- Comece a instalação
                    <br>
                    4- Pronto, só pedir sua lista
                  </p>
                  <button class="btn btn-light" data-bs-dismiss="modal" >
                      <a
                        class="btn btn-xl btn-outline-success"
                        href="https://api.whatsapp.com/send?phone=5551986165032&text=Ol%C3%A1%20equipe%20FullHD%2C%20desejo%20realizar%20um%20teste%20gr%C3%A1tis%20de%206%20horas%20usando%20o%20APP%20IPTV%20SMARTERS."
                      >
                        <i class="bi bi-whatsapp">
                        </i>
                         Chame no whatsapp!
                      </a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio Modal 6-->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModalSTB"
      tabindex="-1"
      aria-labelledby="portfolioModalSTB"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button
              class="btn-close"
              type="button"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center pb-5">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Portfolio Modal - Title-->
                  <h2
                    class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  >
                    STB
                  </h2>
                  <!-- Icon Divider-->
                  <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                  </div>
                  <!-- Portfolio Modal - Image-->
                  <img
                    class="img-fluid rounded mb-5"
                    src="assets/images/app/STB.png"
                    alt="..."
                  />
                  <!-- Portfolio Modal - Text-->
                  <h6>Tutorial de instalação</h6>
                  <!-- Portfolio Modal - Text-->
                  <p class="mb-4">
                    1- Entre na loja de aplicativos
                    <br>
                    2- Pesquisa pelo APP IPTV SMARTERS
                    <br>
                    3- Comece a instalação
                    <br>
                    4- Pronto, só pedir sua lista
                  </p>
                  <button class="btn btn-light" data-bs-dismiss="modal" >
                      <a
                        class="btn btn-xl btn-outline-success"
                        href="https://api.whatsapp.com/send?phone=5551986165032&text=Ol%C3%A1%20equipe%20FullHD%2C%20desejo%20realizar%20um%20teste%20gr%C3%A1tis%20de%206%20horas%20usando%20o%20APP%20STB."
                      >
                        <i class="bi bi-whatsapp">
                        </i>
                         Chame no whatsapp!
                      </a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>          
    <div
      class="portfolio-modal modal fade"
      id="portfolioModalGSE"
      tabindex="-1"
      aria-labelledby="portfolioModalGSE"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button
              class="btn-close"
              type="button"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center pb-5">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Portfolio Modal - Title-->
                  <h2
                    class="portfolio-modal-title text-secondary text-uppercase mb-0"
                  >
                    GSE
                  </h2>
                  <!-- Icon Divider-->
                  <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                      <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                  </div>
                  <!-- Portfolio Modal - Image-->
                  <img
                    class="img-fluid rounded mb-5"
                    src="assets/images/app/GSE.png"
                    alt="..."
                  />
                  <h6>Tutorial de instalação</h6>
                  <!-- Portfolio Modal - Text-->
                  <p class="mb-4">
                    1- Entre na loja de aplicativos
                    <br>
                    2- Pesquisa pelo APP GSE IPTV
                    <br>
                    3- Comece a instalação
                    <br>
                    4- Pronto, só pedir sua lista
                  </p>
                  <button class="btn btn-light" data-bs-dismiss="modal" >
                      <a
                        class="btn btn-xl btn-outline-success"
                        href="https://api.whatsapp.com/send?phone=5551986165032&text=Ol%C3%A1%20equipe%20FullHD%2C%20desejo%20realizar%20um%20teste%20gr%C3%A1tis%20de%206%20horas%20usando%20o%20APP%20IPTV%20GSE."
                      >
                        <i class="bi bi-whatsapp">
                        </i>
                         Chame no whatsapp!
                      </a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
